
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<head>
    <title>Login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/page_styles/registration_page.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="registration-form">
        <h2>Registration</h2>
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <a href="#" id="loginLink">Login</a>
        </form>
    </div>
</body>


<script>
    $(function () {
    // Capture click event on link with id "registerLink"
    $("#loginLink").click(function () {

        var email = $("#email").val();
        var password = $("#password").val();

        var form = $("<form>").attr({
            method: "post",
            action: "@Url.Action("Login", "Account")" // Replace with your action and controller names
                });

        // Append any form data as needed
        form.append($("<input>").attr({ type: "hidden", name: "email", value: email }));
        form.append($("<input>").attr({ type: "hidden", name: "password", value: password }));

        // Append form to document and submit it
        $("body").append(form);
        form.submit();
    });
});
</script>