@{
    ViewBag.Title = "Home Page";
}


<table id="userTable">
    <tr>
        <th>GameID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach (var row in Model.Games)
    {
        <tr>
            <td>@row.GameID</td>
            <td>@row.Name</td>
            <td>@row.Price</td>
        </tr>
    }
</table>