@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/page_styles/main_page.css" rel="stylesheet" />
<body>
    <div class="gameGrid">
        @foreach (var row in Model)
        {
            <a href="@Url.Action("GameDetails", "Home", new { gameID = row.GameID })">
                <div class="gameCard">
                    <img src="https://assets-prd.ignimgs.com/2022/04/19/wow-dragonflight-button-1-1650398895381.jpg" alt="@row.Name" />
                    <div class="gameCardContent">
                        <h3>@row.Name</h3>
                        <p class="gameCardPrice">Price: @row.Price UAH</p>
                    </div>
                </div>
            </a>
        }
    </div>
</body>


@*https://assets-prd.ignimgs.com/2022/04/19/wow-dragonflight-button-1-1650398895381.jpg*@