body {
    margin-top: 10px;
    background-color: #1e2128;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Game grid layout */
.gameGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 columns with equal width */
    gap: 16px; /* Gap between game cards */
}

.gameCard {
    position: relative;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border:1px solid #333333;
}

    .gameCard:hover {
        background-color: #666666;
    }

    .gameCard img {
        width: 100%;
        height: 200px;
        object-fit:inherit;
        object-position: center;
        z-index: 1;
    }

.gameCardContent {
    box-sizing: border-box;
}

    .gameCardContent h3 {
        margin-top: 10px;
    }

    .gameCardContent p{
        font-size:22px;
        position:absolute;
        bottom:0;
        margin-left:10px;
    }

    .gameCardContent h3 {
        margin-bottom: 8px;
        font-size:22px;
        margin-left:10px;
    }

    .gameCardContent a {
        color: #fff;
        text-decoration: none;
        
    }

.gameCard:hover a {
    color: #0056b3;
}

